body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .content-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
            width: 100%;
            /* To ensure it takes full width */
            max-width: 800px;
            /* Limits max width for better readability */
            padding: 10px;
            border: 1px solid #ddd;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            position: relative;
            /* Make content block a reference point for absolutely positioned elements */
        }

        .container {
            display: flex;
            flex-wrap: nowrap;
            /* Prevents wrapping of columns */
            justify-content: center;
            /* margin: 20px 0; */
            margin-left: 20px;
            margin-right: 20px;
            transition: max-height 0.3s ease, opacity 0.3s ease;
            /* Smooth transition for collapsing/expanding */
            overflow: hidden;
            max-height: 500px;
            /* Ensure this is larger than the content's height */
        }
        .container.collapsed {
            max-height: 0;
            opacity: 0;
        }
        .container-green {
            color: green;
        }
        .column {
            flex: 1;
            /* display:inline-flex; */
            margin: 10px;
            text-align: center;
            white-space: nowrap; /* Prevents text wrapping */
            font-size: 16px;
            /* Default font size */
        }
        .controls {
            position: -webkit-sticky;
            position: sticky;
            top: 10px;
            /* Adjust as per need */
            right: 10px;
            display: flex;
            flex-direction: column;
            background-color: #f9f9f9;
            padding: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            align-self: flex-end;
            /* Align the controls to the right */
        }

        button {
            margin: 5px 0;
            padding: 10px 15px;
            font-size: 18px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        h1 {
            cursor: pointer;
            /* Indicate that heading is clickable */
        }
        @media (max-width: 600px) {
            .container {
                flex-direction: column;
                align-items: center;
            }
            .controls {
                right: 5px;
            }
        }